#first-section
{
    background-image: url("../images/2144.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

<<<<<<< HEAD
=======

#second-section img
{
    height: 280px;
    width: 250px;
}

>>>>>>> 100792bca1f99226d9f159f7a2e438f49b6e0d4c
